<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="navbar-brand" href="/">Top</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/users/login">Login</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/cg">3D</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/graph">Graph</a>
        </li>     
        <li class="nav-item active">
            <a class="nav-link" href="/hakusys">List</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/destination">Board</a>
        </li>
    </ul>
</nav>