<%- include('../header') %>

<div id="canvasZone"><canvas id="renderCanvas"></canvas></div>

<style>
    html, body {
        overflow: hidden;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #renderCanvas {
        width: 100%;
        height: 100%;
        touch-action: none;
    }

    #canvasZone {
        width: 100%;
        height: 100%;
    }
</style>

<!-- Babylon.js -->

<!--
<script src="https://cdn.babylonjs.com/babylon.js"></script>
<script src="https://cdn.babylonjs.com/materialsLibrary/babylonjs.materials.min.js"></script>
-->

<script src="/javascripts/babylon/lib/babylon.js"></script>
<script src="javascripts/babylon/lib/babylonjs.materials.min.js"></script>

<script src="/javascripts/babylon/scr_babylon_mill.js"></script>

<div id="temp_1mill" title = <%= temp_1mill %>></div>
<div id="temp_2mill" title = <%= temp_2mill %>></div>
<div id="temp_3bal" title = <%= temp_3bal %>></div>