<!--
css,javascriptファイルは"public"以下のフォルダに配置。
パスは"public"の下から記述
-->

<%- include('../header') %>
<br>

<script type="importmap">
    {
        "imports": {
            "three": "/javascripts/build/three.module.js",
            "three/addons/": "/javascripts/script/jsm/"
        }
    }
</script>

<style>
    button {
        position: absolute; 
        top: 100px; 
        left: 50px; 
        z-index: 100;
        background-color:deepskyblue;
    }
</style>

<button id="toggleAnimation">STOP</button>

<script type="module" src="/javascripts/script/scr_three_hikariworks.js"></script>